<configuration>
    <appender name="plain" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %green(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="logstash" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
        </encoder>
    </appender>

    <springProfile name="default | local | test">
        <root level="INFO">
            <appender-ref ref="plain"/>
        </root>
    </springProfile>

    <springProfile name="default | local | test">
        <root level="INFO">
            <appender-ref ref="logstash"/>
        </root>
    </springProfile>
</configuration>